header {
  background-color:  lightgrey;
  text-transform: uppercase;
      }

a {
text-decoration: none;
}
nav {
font-weight: 500;
font-size: 16px;
}

.navigation li {
   display: inline-block;
}

.navigation a {
color: black;
}

.slider-item1 {
background-image: url('../img/slide1.png');
}
.slider-item2 {
background-image: url('../img/slide2.png');
}
.slider-item3 {
background-image: url('../img/slide3.png');
}

.container {
  width: 1440px;
 float: left;
}
.filter {
    margin: 260px;
}
.paginator li {
	text-transform: uppercase;
	display: inline-block;
	list-style-type: none;
}