header {
  background-color:  lightred;
  text-transform: uppercase;
      }


a {
text-decoration: none;
}

nav {
font-weight: 500;
font-size: 16px;
}

.navigation li {
   display: inline-block;
}

.navigation a {
color: black;
}

p {

  font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #281136;  
}

.slider-item1 {
background-image: url('../img/slide1.png');
}
.slider-item2 {
background-image: url('../img/slide2.png');
}
.slider-item3 {
background-image: url('../img/slide3.png');
}

.button {
  background-color: #fb565a;
  color: #fff;
	padding: 15px 50px;
	border-radius: 2px;
}

.item{
  display: inline-block;
}

.whatwedoing {
  padding: 85px 200px 80px 140px;
  border-bottom-style: 2px solid #eeeeee;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ourclients{
  
  border-bottom: 2px solid #eeeeee;
}

.ourclients img {
  display: inline-block;
}
.container {
  float: left;
}
.filter {
    margin: 140px;
}

.catalog-item {
display: inline-block;
}

.paginator li {
	text-transform: uppercase;
	display: inline-block;
	list-style-type: none;
}