header {
  background-color:  lightgrey;
  text-transform: uppercase;
      }

a {
text-decoration: none;
}

nav {
font-weight: 500;
font-size: 16px;
}

.navigation li {
   display: inline-block;
}

.navigation a {
color: black;
}

p{
  font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #283237;  
}

.slider-item1 {
background-image: url('../img/slide1.png');
}
.slider-item2 {
background-image: url('../img/slide2.png');
}
.slider-item3 {
background-image: url('../img/slide3.png');
}

.button{
  color: #fff;
	background-color: #fb565a;
	padding: 15px 50px;
	border-radius: 2px;
}

.container {
  width: 1440px;
 float: left;
}
.filter {
    margin: 260px;
}
.paginator li {
	text-transform: uppercase;
	display: inline-block;
	list-style-type: none;
}